*{
    margin: 0;
    padding: 0;
    background-color: #E5E7E9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact{
    position: relative;
    margin: 10% 20%;
    padding: 250px 50px;
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
}
.contact h1{
    position: absolute;
    top: 5px;
    left: 165px;
    background-color: white;
}
.contact .name input, .contact .mail input, .contact .ttarea .txtarea{
    position: absolute;
    left: 170px;
    border-radius: 5px;
}
.contact .name{
    position: absolute;
    top: 150px;
    left: 70px;
}
.contact .mail{
    position: absolute;
    top: 200px;
    left: 70px;
}
.contact .phone{
    position: absolute;
    top: 250x;
    left: 70px;
}
.contact .ttarea{
    position: absolute;
    top: 350px;
    left: 70px;
}
.contact .btn1{
    position: absolute;
    bottom: 10px;
    left: 150px;
    background-color: white;
    padding: 2px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact .btn2{
    position: absolute;
    bottom: 10px;
    left: 280px;
    background-color: white;
    padding: 2px 20px;
    border-radius: 5px;
    cursor: pointer;
}
