*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
    align-items: center;
}
.brand-name a img{
    width: 7rem;
}
.nav-links ul{
    display: flex;
}
.nav-links ul li{
    list-style: none;
}
.nav-links ul li a{
    color: grey;
    margin: 1.5rem;
    text-decoration: none;
}
.nav-links ul li a:hover{
    color: #4D5656;
}
#log a{
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #2ECC71;
    color: #2ECC71;
    padding: 10px 20px
}
#log a:hover{
    background-color: #F2F3F4;
}
#reg a{
    border-radius: 10px;
    padding: 12px 20px;
    background-color: #2ECC71;
    color: white;
}
#reg a:hover{
    background-color: #239B56;
}
.toggle-button{
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    background-color: grey;
    height: 3px;
    width: 100%;
    border-radius: 10px;
}
.area{
    background-color: #ecf0f1;
    margin: 0px 150px;
    padding: 250px 0px;
    border-radius: 15px;
    position: relative;
}
.area h1{
    position: absolute;
    top: 16px;
    left: 25px;
}
.area #select-voice{
    position: absolute;
    top: 80px;
    left: 25px;
}
.area #select{
    position: absolute;
    width: 500px;
    top: 110px;
    left: 25px;
}
.area .range #volume{
    position: absolute;
    top: 160px;
    left: 25px;
}
.area .range #rate{
    position: absolute;
    top: 160px;
    left: 250px;
}
.area .range #pitch{
    position: absolute;
    top: 160px;
    left: 475px;
}

@media (max-width:850px){
    .toggle-button{
        display: flex;
    }
    .nav-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links ul{
        flex-direction: column;
        width: 100%;
    }
    .nav-links ul li {
        margin: 10px;
        text-align: center;
    }
    #log{
        padding-top: 5px;
        padding-bottom: 10px;
    }
    #reg{
        padding-top: 5px;
    }
    .nav-links.active{
        display: flex;
    }
}