*{
    margin: 0;
    padding: 0;
    background-color: #E5E7E9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact{
    position: relative;
    margin: 10% 20%;
    padding: 100px 50px;
    min-width: 400px;
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
}
.contact h1{
    position: absolute;
    top: 5px;
    left: 40%;
    background-color: white;
}
.contact .name input, .contact .mail input{
    margin-left: 40px;
    width: 200px;
    border-radius: 5px;
}
.contact .name{
    position: absolute;
    top: 200px;
    left: 70px;
}
.contact .mail{
    position: absolute;
    top: 250px;
    left: 70px;
}
.contact .ttarea{
    margin-top: 150px;
    margin-left: 20px;
}
.contact .ttarea #txtarea{
    margin-left: 10px;
    background-color: white;
    border: solid 2px black;
    resize: vertical;
}
.contact .btn1{
    position: absolute;
    bottom: 10px;
    left: 35%;
    background-color: white;
    padding: 2px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact .btn2{
    position: absolute;
    bottom: 10px;
    left: 50%;
    background-color: white;
    margin-left: 50px;
    padding: 2px 20px;
    border-radius: 5px;
    cursor: pointer;
}
